{% extends 'base.html' %}

{% block head_title %}
    {{ instance.title }}!{{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class='col-sm-6 col-sm-offset-3'>
    {% if instance.image %}
        <img src='{{ instance.image.url }}' class="img-responsive" />
    {% endif %}
    {% if instance.user.get_full_name %}
        <p>Author: {{ instance.user.get_full_name }}</p>
    {% endif %}
    <h1>{{ title }}
        <small>
        {% if instance.draft %}
            <span style="color: red">Draft</span> {{ instance.publish }}
        {% endif %}
        </small>
    </h1>
    {{ instance.title }}<br/>
    <div class="content-markdown">{{ instance.content}}</div>

    {{ instance.updated }}<br/>
    {{ instance.timestamp }}<br/>
    </div>
{% endblock content %}
