.wmd-panel{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.comment-reply{
    display: none;
}

p {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin-top: 10px;
}

.navbar-header .navbar-brand{
    color: whitesmoke;
}

#id_phone {
    width: 15%;
}


#questList {
    margin-top: 20px;
}

#userAuth, #forgotPassword {
    color: whitesmoke;
}

.selectdatewidget {
    width: 50%;
}