.comment-reply{
    display: none;
}

p {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin-top: 10px;
}

.navbar-header .navbar-brand{
    color: whitesmoke;
}

#id_phone {
    width: 15%;
}


#questList {
    margin-top: 20px;
}

#userAuth, #forgotPassword {
    color: whitesmoke;
}

.selectdatewidget {
    width: 50%;
}

#map {
    width: 800px;
    height: 600px;
}

#like_div_text {
    display: inline-block;
    vertical-align:middle;
    height: 32px;
}

#likes {
    display: inline-block;
    height: 24px;
    width: 24px;
}