.wmd-panel{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.comment-reply{
    display: none;
}

p {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.navbar-header .navbar-brand{
    color: whitesmoke;
}


#id_phone{
    width: 40%;
}

#id_subject{
    width: 50%;
    height: 60px;
}

.input-group{
    margin-top: 20px;
}