{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Новостной сайт о пассажирском транспорте г. Воронежа">
    <meta name="author" content="Папилин Д.И.">
    <link rel="icon" href="{% static "favicon.ico" %} ">

    <title>Новостной сайт BusVRN</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

    {% block head_extra %}{% endblock head_extra %}
    <link rel="stylesheet" href="{% static "css/base.css" %}" >
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand fa fa-home fa-2x" href="{% url "posts:list"%}">BusVRN</a>
            {% if not request.user.is_authenticated %}
                <a class="navbar-brand fa fa-2x" href="{% url "registration_register"%}">Регистрация</a>
            {% else %}
                <a class="navbar-brand fa fa-book fa-2x" href="{% url "posts:create"%}">Добавить новость</a>
                <a class="navbar-brand fa fa-pencil fa-2x" href="{% url "feedback:feedback_create"%}">Обратная связь</a>
                <a class="navbar-brand fa fa-2x" href={% url "get_mappa" %}>Карта</a>
                <a class="navbar-brand fa fa-2x" href="{% url "polls:index" %}">Опросы</a>
                <a class="navbar-brand fa fa-shield fa-2x" href="{% url "auth_logout"%}">Выход</a>
            {% endif %}
        </div>

        {% if request.user.is_authenticated %}
            <p id="userAuth" align="right"> {{ request.user }} </p>
        {% endif %}

        {% if not request.user.is_authenticated %}
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" method="post" action="{% url 'auth_login'%}">
              {% csrf_token %}
            <div class="form-group">
              <input name="username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control">
            </div>
                <button type="submit" class="btn btn-success">Войти</button>
              <p><a id="forgotPassword" href="{% url 'auth_password_reset' %}">Забыли пароль? </a></p>
          </form>
        </div>
      {% endif %}
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    {% if request.user.is_authenticated %}
    {% if request.session.visits == 1 %}
    <div class="jumbotron">
      <div class="container">
        <h1>Здравствуйте, {{ request.user }}.</h1>
        <p>Мы рады Вам представить новый новостной портал, посвященный пассажирскому транспорту города Воронежа. Здесь Вы можете узнать
            новости по данному вопросу, а также предложить для публикации свою.</p>
      </div>
    </div>
    {% endif %}
    {% endif %}

    <div class="container">
        {% block content %}{% endblock content %}
    </div>

    <div>
        <footer>
            <p align="center" id="inc">&copy; 2018 Denis P, Inc.</p>
        </footer>
    </div>

    {% include "posts/messages_display.html" %}

    <!-- Bootstrap core JavaScript
    ================================================== -->

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/marked.min.js" %}"></script>

      <!-- My -->
    <script>
        let like_outline_24 = "{% static "like_outline_24.svg" %}";
        let like_active_24 = "{% static "like_active_24.svg" %}";
    </script>
    <script src="{% static "js/post/post-ajax.js" %}"></script>
    <script src="{% static "js/post/postJs.js" %}"></script>
    <script src="{% static "js/common.js" %}"></script>

  </body>
</html>