{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "favicon.ico" %} ">

    <title>Новостной сайт BusVRN</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/jumpbotron.css" %}" rel="stylesheet">

    {% block head_extra %}{% endblock head_extra %}
    <link href="{% static "css/base.css" %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

    <link rel="stylesheet" href="{% static "css/jqx.base.css" %}">

    <script src="{% static "js/jqxcore.js" %}"></script>
    <script src="{% static "js/jqxradiobutton.js" %}"></script>

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand fa fa-home fa-2x" href="{% url "posts:list"%}">BusVRN</a>
            {% if not request.user.is_authenticated %}
                <a class="navbar-brand fa fa-2x" href="{% url "registration_register"%}">Регистрация</a>
            {% else %}
                <a class="navbar-brand fa fa-book fa-2x" href="{% url "posts:create"%}">Добавить новость</a>
                <a class="navbar-brand fa fa-pencil fa-2x" href="{% url "feedback:feedback_create"%}">Обратная связь</a>
                <a class="navbar-brand fa fa-2x" href={% url "get_mappa" %}>Карта</a>
                <a class="navbar-brand fa fa-2x" href="{% url "polls:index" %}">Опросы</a>
                <a class="navbar-brand fa fa-shield fa-2x" href="{% url "auth_logout"%}">Выход</a>
            {% endif %}
        </div>

        {% if request.user.is_authenticated %}
            <p id="userAuth" align="right"> {{ request.user }} </p>
        {% endif %}

        {% if not request.user.is_authenticated %}
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" method="post" action="{% url 'auth_login'%}">
              {% csrf_token %}
            <div class="form-group">
              <input name="username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control">
            </div>
                <button type="submit" class="btn btn-success">Войти</button>
              <p><a id="forgotPassword" href="{% url 'auth_password_reset' %}">Забыли пароль? </a></p>
          </form>
        </div><!--/.navbar-collapse -->
      {% endif %}
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    {% if request.user.is_authenticated %}
    {% if request.session.visits == 1 %}
    <div class="jumbotron">
      <div class="container">
        <h1>Здравствуйте, {{ request.user }}.</h1>
        <p>Мы рады Вам представить новый новостной портал, посвященный пассажирскому транспорту города Воронежа. Здесь Вы можете узнать
            новости по данному вопросу, а также предложить для публикации свою.</p>
      </div>
    </div>
    {% endif %}
    {% endif %}

    <div class="container">
        {% block content %}{% endblock content %}
    </div> <!-- /container -->

    <div>
        <footer>
            <p align="center" id="inc">&copy; 2016 Denis P, Inc.</p>
            <p id="in2"></p>
        </footer>
    </div>

    {% include "posts/messages_display.html" %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

  <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.12.3.min.js"
        integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>

      <!-- My -->
    <script src="{% static "js/post/post-ajax.js" %}"></script>
    <script src="{% static "js/post/postJs.js" %}"></script>
    <script src="{% static "js/common.js" %}"></script>

  </body>
</html>