{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div id="map"></div>
     <!-- Google Maps JS API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANx3oMu8-ViaOADlea2s_9Ahi01XaLLN8"></script>
    <!-- GMaps Library -->
    <script src={% static "js/gmaps.js" %}></script>
    <script>
      /* Map Object */
      let mapObj = new GMaps({
        el: '#map',
        lat: 51.661268,
        lng: 39.200115
      });

    let marker = mapObj.addMarker({
            lat: 51.661268,
            lng: 39.200115,
            title: 'Eiffel Tower',
            infoWindow: {
                content: '<h4>Eiffel Tower</h4><div>Paris, France</div>',
                maxWidth: 100
            }
    });
    </script>

{#    <script>#}
{#    var increment = 0.001;#}
{#    setInterval(function() {#}
{#        marker.setPosition( new google.maps.LatLng(marker.getPosition().lat()+Math.random()*0.0002-0.0001, marker.getPosition().lng()+0.0001));#}
{#    },100);#}
{#    </script>#}


{% endblock %}