<h1>{{ object.name }}</h1>
<ul>
    <li>Перевозчик:    {{ object.project }}</li>
    <li>{{ object.route }}</li>
    <li>Дата последнего отклика:    {{ object.last_time }}</li>
    <li>Широта:     {{ object.last_lat }}</li>
    <li>Долгота:    {{ object.last_lon }}</li>
    <li>Скорость:   {{ object.last_speed }}</li>
    <li>Телефон:    {{ object.phone }}</li>
    <li>Год выпуска:    {{ object.year_release }}</li>
    <li>Дата регистрации:{{ object.date_inserted }}</li>
    <li>Статус:     {{ object.get_output_display }}</li>
</ul>